body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    background-color: rgb(50, 50, 60);
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    text-align: center;
    display: block;
    color: rgb(200, 200, 200);
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(80, 80, 90);
    color: rgb(200, 200, 200);
}

.contents-wrapper {
    margin-left: 160px;
    padding: 30px;
}

.role-items-wrapper {
    margin: 1em;
    display: flex;
}

.role-text-inputs {
    width: fit-content;
    margin: 1em;
    display: grid;
}