.message {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-head {
    display: flex;
}

.message img {
    width: 130px;
    height: 130px;
    border-radius: 30%;
}

.message h1 {
    margin-left: 60px;
    align-self: center;
    color: white;
}

.message-details {
    margin-left: 190px;
}

.message h3 {
    color: darkgray;
}

.message a {
    color: darkgoldenrod;
    text-decoration: none;
} 

.message a:hover {
    color: orange;
}
