<link rel="stylesheet" type="text/css" href="css/duoConnectionError.css">

<div class="message">
    <div class="message-head">
        <img src="images/DUO.png" alt="duo avatar">
        <h1>I'm not connected to this server</h1>
    </div>
    <div class="message-details">
        <h3>
            To add me click
            <a href="#" onClick="MyWindow=window.open('https://discord.com/api/oauth2/authorize?client_id=710067353227886612&permissions=2081160439&scope=bot','MyWindow','width=600,height=800'); return false;">this</a>
            link
        </h3>
    </div>
</div>