<link rel="stylesheet" type="text/css" href="/css/message.css" />

<div class="message">
    <div class="message-head">
        <img src="/images/DUO.png" alt="duo avatar" />
        <h1>It seems like you have no servers</h1>
    </div>
</div>