<link rel="stylesheet" type="text/css" href="css/roles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="roles-header-wrapper">
    <h2>Roles</h2>
</div>
<form>
    <div class="roles-wrapper" id="roles-wrapper">
        {{#each roles}}
        <div class="role-items-wrapper">
            <div class="role-remove-button">
                <button class="fa fa-trash" onclick="removeRole(this);return false;"></button>
            </div>
            <div class="role-text-inputs">
                <input type="text" name="name" value="{{this.name}}">
                <input type="text" name="score" value="{{this.score}}">
                <input type="text" name="color" value="{{this.color}}">
            </div>
        </div>
        {{/each}}
    </div>
    <button class="add-button" onclick="addRole();return false;">+</button>
    <button class="save-button" onclick="updateRoles();return false;">Save</button>
</form>

<script src="roles.js"></script>