<div class="roles-header-wrapper">
    <h2>Roles</h2>
</div>
<form>
    <div class="roles-wrapper" id="roles-wrapper">
        {{#each roles}}
        <div class="role-items-wrapper">
            <div class="role-remove-button">
                <button onclick="removeRole(this);return false;">-</button>
            </div>
            <div class="role-text-inputs">
                <input type="text" name="name" value="{{this.name}}">
                <input type="text" name="score" value="{{this.score}}">
                <input type="text" name="color" value="{{this.color}}">
                <input type="text" name="reason" value="{{this.reason}}">
            </div>
        </div>
        {{/each}}
    </div>
    <button onclick="addRole();return false;">+</button>
    <button onclick="updateRoles();return false;">Save</button>
</form>

<script src="roles.js"></script>