<link rel="stylesheet" type="text/css" href="/css/message.css">

<div class="message">
    <div class="message-head">
        <img src="/images/DUO.png" alt="duo avatar">
        <h1>
            Please
            <a href="https://discord.com/api/oauth2/authorize?client_id=710067353227886612&redirect_uri=https%3A%2F%2Fduo-discordbot.herokuapp.com%2Findex&response_type=token&scope=identify%20guilds">
                login
            </a>
        </h1>
    </div>
</div>