<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap">
        <link rel="icon" href="/images/duo-round.png">
    </head>

<body onload="initializeSidebar()">
        <aside>
            <div class="sidebar-title">
                <img src="/images/DUO.png" alt="Duo icon">
                Duo
            </div>

            <nav>
                <a href="/home">home</a>
                <a onclick="loadPage('/roles')">roles</a>
            </nav>

            <div class="sidebar-bottom-wrapper">
                <select onchange="guildSelectionChange();return false;" id="guilds"></select>
                <div id="user"></div>
            </div>
        </aside>
        <div class="contents-wrapper">
            {{{body}}}
        </div>
    </body>

    <script src="/layout.js"></script>
</html>
