<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    </head>

    <body onload="loadGuildSelector()">
        <div class="container">
            <div class="nav-wrapper">

                <nav>
                    <li><a href="/nav?id=home">home</a></li>
                    <li><a onclick="loadPage('roles')">roles</a></li>
                </nav>

                <div class="nav-bottom-wrapper">
                    Your servers:
                    <select onchange="guildSelectionChange();return false;" id="guilds"></select>
                </div>

            </div>
            <div class="contents-wrapper">
                {{{body}}}
            </div>
        </div>
    </body>

    <script src="layout.js"></script>
</html>